<div class="form-group container">
  <%= form_tag admin_event_path(@event.id), method: "patch" do %>

  <%= label_tag "Titre de l'évènement" %>
  <%= text_field_tag 'title', @event.title, class: "form-control" %>
  <br/>
  <br/>

  <%= label_tag 'Description' %>
  <%= text_area_tag 'description', @event.description, class: "form-control" %>
  <br/>
  <br/>

  <%= label_tag "Date de début de l'évènement" %>
  <%= datetime_field_tag 'start_date', @event.start_date, class: "form-control" %>
  <br/>
  <br/>

  <%= label_tag "Durée de l'évènement (en minutes)" %>
  <%= number_field_tag 'duration', @event.duration, class: "form-control" %>
  <br/>
  <br/>

  <%= label_tag 'Tarif par participant' %>
  <%= number_field_tag 'price', @event.price, class: "form-control" %>
  <br/>
  <br/>

  <%= label_tag 'Valider ?' %>
  <%= radio_button_tag 'is_validated', 'validated', false %> Oui
  <%= radio_button_tag 'is_validated', 'refused', false %> Non
  <br/>
  <br/>

  <%= submit_tag "Modifier les informations", class: "form-control btn btn-primary" %>

  <% end %>
</div>
