
    <div class="card col-md-3 col-sm-12 px-0 my-3 ml-2 mr-2">
      <% if event.title.length > 20 %>
      <h3 class="card-header"><%= crop_title(event) %></h3>
      <% else %>
      <h3 class="card-header"><%= event.title %></h3>
      <% end %>
      <div class="card-body">
        <h5 class="card-title"><%= event.start_date.strftime("%d/%m") %></h5>
        <h6 class="card-subtitle text-muted"><%= event.location %></h6>
      </div>
      <div class="d-block user-select-none">
        <%if event.picture.attached?%>
          <%= image_tag event.picture, alt: 'avatar', class: "card-img-top" %>
          <%else%>
          <%= image_tag 'event-colors.jpg', alt: 'avatar', class: "card-img-top" %>
        <%end%>
      </div>
      <div class="card-body">
        <% if event.description.length > 100 %>
        <p class="card-text"><%= crop_description(event) %></p>
        <% elsif event.description.length < 100 %>
        <p class="card-text"><%= extend_description(event) %></p>
        <% else %>
        <p class="card-text"><%= event.description %></p>
        <% end %>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><%= event.price %>€</li>
      </ul>
      <div class="card-body d-flex flex-row justify-content-center flex-wrap">
        <%= link_to "Voir l'évènement", event_path(id: event.id), class: "card-link btn btn-primary" %>
      </div>
    </div>
