<div class="container">
  <div class="d-flex flex-row justify-content-center align-items-center">


    <div class="card rounded">
      <%if @event.picture.attached?%>
        <%= image_tag @event.picture, alt: 'avatar', class: "card-img-top" %>
      <%end%>
      <div class="card-body">
        <h5 class="card-title"><%= @event.title %></h5>
        <h6 class="card-subtitle mb-2 text-muted">
          Le
          <%= @event.start_date.strftime("%d/%m/%Y de %H:%M") %>, à
          <%= @event.define_end_date.strftime("%H:%M") %>,
          <%= @event.location %></h6>
        <p class="card-text p-4"><%= @event.description %></p>
        <hr>
        <p>
          Nombre de participants :
          <span class="badge badge-pill badge-info">
            <%= @attendance.count %>
          </span>
        </p>
        <% if current_user == @event.host %>
        <details closed="closed" class="my-2">
          <summary>Voir la liste des participants</summary>
          <ul class="list-group">
            <% @attendance.order(:created_at).each do |attendee| %>
              <li class="list-group-item p-1 pl-3">
                <%= attendee.user.first_name + " " + attendee.user.last_name %></li>
            <% end %>
          </ul>
        </details>
        <% end %>

        <p>
          Tarif :
          <span class="badge badge-info"><%= @event.price %>€</span>
        </p>
        <p>
          Contacter l'organisateur :
          <%= mail_to @event.host.email %></p>

        <% if current_user == @event.host %>
          <% if @event.status == "to validate" %>
            <p>Votre évènement n'a pas encore été validé par notre plateforme.</p>
          <% elsif @event.status == "validated" %>
          <p class="col-12">
            <%= link_to "Ajouter une photo de profil à l'évènement", new_event_picture_path(event_id: @event.id) , class: 'card-link btn btn-info w-100' %>
          </p>
          <p class="col-12">
            <%= link_to "Modifier l'évènement", edit_event_path(params[:id]) , class: 'card-link btn btn-info w-100' %>
          </p>
          <% end %>
        <% else %>
          <% if @event.status == "validated" %>
          <p class="col-12">
            <%= link_to "S'inscrire à l'évènement", new_attendance_path(event_id: @event.id) , class: 'card-link btn btn-info w-100' %>
          </p>
          <% end %>
        <% end %>
        <p class="col-12">
          <%= link_to '<< Retour', :back , class: 'card-link btn btn-secondary w-100' %>
        </p>
      </div>
    </div>
  </div>
</div>
