<div class="container">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">User
        <%= @user.id %></h5>
      <p class="card-text">First Name:
        <%= @user.first_name %></p>
      <p class="card-text">Last Name:
        <%= @user.last_name %></p>
      <p class="card-text">Email:
        <%= @user.email %></p>
      <p class="card-text">User ID:
        <%= @user.id %></p>
      <p class="card-text">User created at:
        <%= @user.created_at %></p>
      <p class="card-text">User updated at:
        <%= @user.updated_at %></p>
      <p class="card-text">Description:
        <%= @user.description %></p>
      <hr>
      <h5 class="card-title">User Attendances :
        <%= @user.attendances.count %></h5>
      <table class="table table-bordered table-sm">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Attendance ID</th>
            <th scope="col">Event ID</th>
            <th scope="col">Created at</th>
            <th scope="col">Payment Status</th>
            <th scope="col">Updated at</th>
          </tr>
        </thead>
        <tbody>
          <% @user.attendances.each_with_index do |attendance, index|%>
            <tr>
              <th scope="row"><%= index + 1%></th>
              <td><%= attendance.id %></td>
              <td><%= link_to attendance.event_id, admin_event_path(attendance.event_id) %></td>
              <td><%= attendance.created_at %></td>
              <td><%= attendance.payment_status %></td>
              <td><%= attendance.updated_at %></td>

            </tr>
          <% end %>
        </tbody>
      </table>

    </div>
  </div>

</div>
